<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fbabfe34-607c-4d50-accf-aa7c471af9ff/resourcegroups/Main/providers/Microsoft.Web/sites/DbConnectCourses20230416211112</ResourceId>
    <ResourceGroup>Main</ResourceGroup>
    <ApiResourceId>/subscriptions/fbabfe34-607c-4d50-accf-aa7c471af9ff/resourceGroups/Main/providers/Microsoft.ApiManagement/service/DbConnectCoursesapi/apis/DbConnectCourses</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dbconnectcourses20230416211112.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>3a39f6dc-fe19-42ab-8623-dd52a8bf4e39</ProjectGuid>
    <MSDeployServiceURL>dbconnectcourses20230416211112.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DbConnectCourses20230416211112</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$DbConnectCourses20230416211112</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>